@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvedor @ViewData["Desenvolvedor"]</p>

<address>
    <strong>More information: </strong> <a href ="https://google.com">Google</a>
</address>
<p>@ViewData["email"]</p>
